<p style="font-size: 18px; line-height: 1.3;">
	Возможно изготовление полотенцесушителя в цветах (<a style="text-decoration: none;" href="/media/complectations/ral2.jpg">смотреть на примере</a>): черный матовый, белый матовый, сатин, бронза, золото, синий, голубой, зеленый, красный, бежевый, серебристый металлик, Grigio Chrome, тосканская бронза, состаренное серебро, состаренная медь.
	<br><br>
	<a style="text-decoration: none;" href="/media/complectations/kopl.jpg">Стандартная комплектация.</a>
	<br><br>
	Материал пищевая нержавеющая сталь марки AISI-304 L.
	<br><br>
	Гарантия 3 года.
	<br><br>
	Рабочее давление до 8 атм.
	<br><br>
	Максимальная рабочая температура до 105 .
	<br><br>
	Выступ вставки 195 мм.
	<br><br>
	Особенностью полотенцесушителя типа «Лесенка с полочкой» является наличие удобной полочки, которая может использоваться для просушки варежек, трикотажных шапочек и других предметов гардероба, повесить которые непосредственно на лесенку затруднительно. Наличие полочки увеличивает полезную площадь полотенцесушителя и делает его гораздо более функциональным. А полированное покрытие обеспечивает его долгий срок службы.
	<br><br>
	Диаметр труб полотенцесушителей данного типа равен 32 и 18 мм, толщина стенок 2 мм. Среднее рабочее давление 8 атм. Максимально допустимая температура теплоносителя до 105 °C.
</p>