<p style="font-size: 18px; line-height: 1.3;">
	Возможно изготовление полотенцесушителя в цветах (<a style="text-decoration: none;" href="/media/complectations/ral2.jpg">смотреть на примере</a>): черный матовый, белый матовый, сатин, бронза, золото, синий, голубой, зеленый, красный, бежевый, серебристый металлик, Grigio Chrome, тосканская бронза, состаренное серебро, состаренная медь.
	<br><br>
	<a style="text-decoration: none;" href="/media/complectations/koplbok.jpg">Стандартная комплектация.</a>
	<br><br>
	При заказе полотенцесушителя с боковым подключение необходимо выбрать межцентровое расстояние (320, 400, 500, 600, 800).
	<br><br>
	Материал пищевая нержавеющая сталь марки AISI-304 L.
	<br><br>
	Гарантия 3 года.
	<br><br>
	Рабочее давление до 8 атм.
	<br><br>
	Максимальная рабочая температура до 105 .
	<br><br>
	Полотенцесушители водяные типа «Лесенка с боковым подключением» - это классические конструкции из надежной и долговечной пищевой нержавеющей стали. Благодаря своей универсальности и лаконичности, подобные полотенцесушители могут использоваться в ванных комнатах любой планировки, стиля и площади.
	<br><br>
	Они компактны, не занимают много места, не привлекают к себе лишнего внимания. А, кроме того, что помогают высушить полотенца и некоторые предметы гардероба, подобные полотенцесушители еще и делают ванную теплее.
	<br><br>
	Изготавливаются подобные конструкции из труб (нержавеющая сталь), наружный диаметр которых составляет 32 и 18 мм. Толщина стенок 2 мм. Рассчитаны на стандартное рабочее давление в системе водоснабжения 8 атм. Опрессовочное давление до 32 атм. Максимально допустимая температура теплоносителя до 105 °C.
</p>