{% extends 'login.html' %}
{% load crispy_forms_tags %}

{% block title %}Маргроид | Восстановление пароля{% endblock title %}

{% block content %}

<style type="text/css">
  label,
  #hint_id_new_password1 {
    display: none;
  }
</style>

{% if validlink %}
<div class="container">
  <div class="row">
    <form class="col-xl-6 col-lg-7 col-md-8" method="POST">
      {% csrf_token %}
      <h3 align="center">Изменение пароля</h3>
      <hr>
      <a class="fa fa-lock input-icon"></a>
      {{ form.new_password1|as_crispy_field }}
      <a class="fa fa-lock input-icon"></a>
      {{ form.new_password2|as_crispy_field }}
      <button type="submit" class="btn btn-info" style="width: 100%;">Сменить пароль</button>
    </form>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <form class="col-xl-6 col-lg-7 col-md-8">
      {% csrf_token %}
      <h3 align="center">Ошибка восстановления пароля</h3>
      <hr>
      <p>
        Ссылка для восстановления пароля была неверная, возможно из-за того, что она уже была использована.
        Пожалуйста, попробуйте снова.
      </p>
    </form>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById("id_new_password1").placeholder = "Введите новый пароль";
    document.getElementById("id_new_password2").placeholder = "Повторите новый пароль";
  });
</script>

{% endblock %}