{% extends 'login.html' %}
{% load crispy_forms_tags %}

{% block title %}Маргроид | Восстановление пароля{% endblock title %}

{% block content %}

<style type="text/css">
	label {
		display: none;
	}
</style>

<div class="container">
	<div class="row">
		<form class="col-xl-6 col-lg-7 col-md-8" method="POST">
			{% csrf_token %}
			<h3 align="center">Восстановление пароля</h3>
			<hr>
			<p>Введите email, к которому привязан аккаут, и мы отправим вам ссылку для восстановления пароля.</p>
			<a class="fa fa-envelope input-icon"></a>
			{{ form.email|as_crispy_field }}
			<button type="submit" class="btn btn-info" style="width: 100%;">Получить письмо на email</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function(){
		document.getElementById("id_email").placeholder = "Введите имя почтового ящика";
	});
</script>

{% endblock content %}